
.characters-container {
  padding: 40px; /* Aumenta el padding */
}

.home-carrousel {
  max-width: 1400px; /* Aumenta el ancho máximo del carrusel */
  margin: 0 auto;
  padding: 40px 0; /* Aumenta el padding en el carrusel */
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-box {
  background-color: white;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  width: 100%;
  max-width: 250px; /* Aumenta el tamaño máximo de las tarjetas */
  text-align: center;
  padding: 20px; /* Aumenta el padding dentro de la tarjeta */
  transition: transform 0.3s ease;
}

.character-box img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.character-box:hover {
  transform: scale(1.1); /* Efecto hover más pronunciado */
}
